@import '../../../global/globalStyle.less';

.project {
  overflow-x: hidden;
  // 顶部Echarts模型
  .echartsModel {
    height: 40vh;
    position: relative;
    .animals, .wordClouds {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  // 底部卡片
  .cardOuter {
    margin: 10px 0;
    background: #fff;
    .el-tag {
      cursor: pointer;
    }
  }
  .cardList {
    padding: 10px 5px;
    .el-card {
      height: 26vh;
      .el-card__body {
        position: relative;
      }
      .fa {
        font-size: 3em;
        color: @success-color;
      }
      h2 {
        .beyond-scope;
        margin: 1rem 0;
      }
      .banner {
        width: 40px;
        height: 40px;
        margin-right: 0.5rem;
        vertical-align: middle;
      }
      .qrcode {
        position: absolute;
        bottom: 85%;
        left: 85%;
        width: 40%;
        opacity: 0.5;
        cursor: pointer;
        transform: rotateZ(45deg);
      }
      .el-link {
        margin: 1rem 0 0 0;
        i {
          margin-right: 0.5rem;
        }
      }
      article {
        height: 8vh;
        .beyond-scope-clamp;
        letter-spacing: 0.1em;
        color: @grayScale-color_3;
        * {
          .beyond-scope-clamp;
        }
      }
    }
  }
  .el-dialog__wrapper {
    video {
      width: 100%;
    }
    img {
      width: 100%;
    }
  }
}