@import '../../../global/globalStyle.less';

.notes {
  .navList {
    width: auto;
  }
  .navManu, .markdownPreview {
    height: calc(100vh - @header - @footer);
  }
  .markdownPreview {
    padding: 10px;
    overflow: auto;
    .previewInner {
      line-height: 2;
      overflow: auto;
      background: #fff;
      padding: 10px 30px;
      height: calc(100% - 20px);
      a {
        color: @primary-color;
        text-decoration: none;
      }
      * {
        vertical-align: middle;
        word-wrap: break-word !important;
      }
      code {
        overflow: auto;
        padding: 0 10px;
        max-height: 30vh;
        display: inline-block;
        max-width: calc(100% - 20px);
        background: @grayScale-color_7;
      }
    }
  }
}