@import '../../global/globalStyle.less';

.container {
  height: 100vh;
  .el-header {
    padding: 0;
    z-index: 10;
    width: 100vw;
  }
  .el-main {
    padding: 0;
    background: @grayScale-color_6;
  }
  .el-footer {
    padding: 0;
  }
}