@import '../../../../global/globalStyle.less';

.virus-map {
  position: relative;
  .el-button {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }
  h4 {
    text-align: center;
  }
  .pieData  {
    display: inline-block;
  }
  .confirm {
    color: @danger-color;
  }
  .suspect {
    color: @warning-color;
  }
  .dead {
    color: @grayScale-color_3;
  }
  .heal {
    color: @success-color;
  }
}
.my-bullet {
  width: 0.04rem;
  height: 0.04rem;
  margin: 0 .03rem;
  display: inline-block;
  border-radius: 0.02rem;
  background: rgba(0, 0, 0, 0.2);
}
.my-bullet-active {
  width: .16rem;
  background: #3CDBC0;
}